
[ng-loader] {
    height: 100%;
}

    [ng-loader].ajax-loading {
        background:#ccc url('../../../img/loader.gif') no-repeat center center;
     
filter:alpha(opacity=60); /* IE */
-moz-opacity:0.6; /* Mozilla */
opacity: 0.6; /* CSS3 */
position: absolute; 
top: 0; left: 0; height: 100%;
width:100%;
z-index:99999;
    }
